html {
    --border-primary: solid var(--primary-variant) 30px;
    --border-secondary: solid var(--secondary-variant) 30px;
  }
    
}
h1 {
    color: var(--primary)
}
 
.btn {
  background-color: #222;
  width: 300px;
  font-family: 'Bungee', cursive;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 20px;

}

  
root {
    
    --primary: #6200EE;
    --secondary: #be0a0a;
    --background: #878999;
}
ul {
list-style: none;
}
nav ul {

  text-align: center;
  
}

<span class="fas fa-bars"></span>

.hero {

    background: url(")
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  section:nth-of-type(odd),
  footer {
    background: var(--primary #6200EE);
    color: var(--primary-text);
  }
  
  nav {
    border-top: var(--border-secondary);
    border-vbottom: var(--border-secondary);
  }
  

  
  footer {
    border-top: var(--border-primary);
  }
  
  nav,
  section:nth-of-type(even) {
    background: var(--secondary);
    color: var(--secondary-text);
    position: absolute;
  }
  

  @media screen and (min-width: 768px) {
    header {
      background: red;
    .is shown--tablet {
      height: 100%;
      display: none; 
    }

  